<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row"><hr flex/><p class="text-center text-info">Rigelsky now specializes in matching professionals with the right temporary or full-time job opportunities with a variety of employers in all industries. </p><hr flex/></span>
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-left text-info"></p><hr flex/></span>
<div class="container">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container"  style="background-color: rgb(248, 249, 250)">
        <h2>User Login</h2>
        <form  #userempform="ngForm" (ngSubmit)="loginUser()" class="form-horizontal">
          <small class= "text-danger">{{msg}}</small>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)] = "user.emailId" 
              required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel"
              [class.is-invalid] = "email.invalid && email.touched"
              >
          <!-- <small class= "text-danger" [class.d-none]= "email.valid || email.untouched">Email Id is required field </small>-->
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf= "email.errors.required">Email Id is required field</small>
    
          <small class="text-danger" *ngIf= "email.errors.pattern">Enter the valid email Id</small>
        </div>  
        
        </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control"  placeholder="Enter password"  name="password" [(ngModel)] = "user.password" 
              required #password="ngModel"
              [class.is-invalid] = "password.invalid && password.touched"
              >
              <small class= "text-danger" [class.d-none]= "password.valid || password.untouched">Password is required field </small>
            </div>
          </div>
         <!-- <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">UserName:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control"  placeholder="Enter UserName"  name="user" [(ngModel)] = "user.userName">
            </div>
          </div>-->
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info">Login</button>
            </div>
          </div>
        </form>
        <small class="float-right" (click)="gotoregisteration()">New user ? Register here</small>
      
      </div>
    </div>
    <div class="col-sm">
     
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>

 
  <div class="container">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
       
      </div>
      <div class="col-sm">
      
      </div>
    </div>
  </div>