<!--<p>registeration works!</p>-->
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row"><hr flex/><p class="text-center text-info">Registration Form</p><hr flex/></span>
<div class="container">

  <div class="row">

<div class="col-sm">


  <div class="card" style="width: 18rem;">
    <img src="https://rigelsky.com/images/trainingimg.png" class="rounded mx-auto d-block" alt="Responsive image"  height="200" width="800" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Training</h5>
      <p class="card-text">Our advanced coding course gained popularity among our students because of our easy to learn curriculum and project-based structure. Our Online Live course can be taken remotely anywhere in North America. Rigelsky believes quality education requires a personal touch. We are one of the very few programs that offer live instruction courses. This means that you and your classmates will have real time access to your instructor. Real time instruction makes our students feel as if they are in a physical classroom which enables them to grasp concepts
        at a much faster rate than with any other program out there.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Career Prep</li>
      <li class="list-group-item">Admissions</li>
      <li class="list-group-item">Our Alumni</li>
    </ul>
    <div class="card-body">
      <a href="/training" class="card-link">Training</a>
      <a href="#" class="card-link">Job Placement Services</a>
    </div>

  </div>
</div>

    <div class="col-sm">
      <div class="container" style="background-color: rgb(248, 249, 250)">
        <h2>User Registeration</h2>
        <form  #Registerform="ngForm" (ngSubmit)="registerUser()" class="form-vertical">
          <small class= "text-danger">{{msg}}</small>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)] = "user.emailId"
              required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" #email="ngModel"
              [class.is-invalid] = "email.invalid && email.touched"
              >
          <!-- <small class= "text-danger" [class.d-none]= "email.valid || email.untouched">Email Id is required field </small>-->
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf= "email.errors.required">Email Id is required field</small>

          <small class="text-danger" *ngIf= "email.errors.pattern">Enter the valid email Id</small>
        </div>

        </div>
          </div>
           <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">UserName:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control"  placeholder="Enter UserName"  name="username" [(ngModel)] = "user.userName">


            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control"  placeholder="Please enter password"  name="password"
              [(ngModel)] = "user.password" required #password="ngModel"
              [class.is-invalid] = "password.invalid && password.touched"
              >
              <small class= "text-danger" [class.d-none]= "password.valid || password.untouched">Password is required field </small>
            </div>
          </div>

           <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">ConfirmPassword:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control"  placeholder="Please re-enter Confirm password"  name="cpassword" #cpassword = "ngModel" (ngModel)="user.password" required
               [class.is-invalid] = "cpassword.invalid && cpassword.touched">
              <small class= "text-danger" [class.d-none]= "(cpassword.value == password.value) || cpassword.untouched">Password & confirm password must be same</small>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
            </div>
          </div>
        </form>
        <small class="float-right" [routerLink] = "['/useremp']">Existing user ? Login here</small>
      </div>

    </div>

    <div class="row">

      <div class="col-sm">

  </div>
</div>
