<!-- <span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-left text-info"></p><hr flex/></span> -->
<!-- <div class="container">


      <h2>Add Candidate</h2>
      <a class="btn btn-lg btn-primary" href="" role="button">Add</a> <br>


</div><br><br>
<div class="container">


  <h2>View Candidate</h2>
  <a class="btn btn-lg btn-primary" href="" role="button">View</a>

</div> -->
<!-- Content section -->
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
  <img class="img-fluid d-block mx-auto" src="./assets/img/1logo.png" alt="">
</header>
<section class="py-5">
  <div class="container">
    <h1 class="text-center">Welcome to Rigelsky</h1>
    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
    <p>Rigelsky is one of the fastest growing recruitment services and staffing agencies in USA. Rigelsky now specializes in matching professionals with the right temporary or full-time job opportunities with a variety of employers in all industries. We’re the experts at placing engineering, engineering support and IT professionals with employers.</p>
  </div>
</section>

<!-- Image element - set the background image for the header in the line below -->

  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <!-- <img class="img-fluid d-block mx-auto"src="./assets/img/office1.jpg" alt=""> -->
  <!-- <div style="height: 200px;"></div> -->


<!-- Content section -->
<section class="py-5">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/img/office1.jpg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">Add Candidate</h5> -->
        <div class="text-center">
        <a class="btn btn-lg btn-primary" (click)="addCandidate()" role="button">Add Candidate</a> <br>
      </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/home1.jpg" alt="Card image cap">
      <div class="card-body">
        <!-- <h5 class="card-title">View Candidate</h5> -->
        <div class="text-center">
        <a class="btn btn-lg btn-primary" (ngSubmit)="viewCandidate()" href="" role="button">View Candidate</a> <br>
        </div>
       
      </div>
    </div>
    <!-- <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div> -->
  </div>
</section>


