
<div class="col-md-7" class="text-center text-info" >
    <h2> User Information</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
       <th>Email</th>
         <th>dateOfBirth</th>
       
         <th> address</th>
         <th>phoneNumber</th>
        <th>qualification</th>
       
        <th >Action</th>
      </tr>
    </thead>
      <tbody>
      <tr  *ngFor="let candidate of candidates">
        <td></td>
        <td>{{candidate.firstName}}</td>
        <td>{{candidate.lastName}}</td>
       <td>{{candidate.email}}</td>
        <td>{{candidate.dateOfBirth}}</td>
         <td>{{candidate.address}}</td>
        <td>{{candidate.phoneNumber}}</td>
        <td>{{candidate.qualification}}</td>
        <td><button  class="btn btn-danger" (click)="deleteEmployee(candidate)"> Delete</button></td>
        <td><button  class="btn btn-info" (click) = "details(candidate)" > Details</button></td>
        <td><button  class="btn btn-info" (click) = "update(candidate)"> Update</button></td>
       
       

      </tr>
      </tbody>
    </table>
    </div>