<div class="row">
    <div class="col-md-12">
        <p style="font-size: 50px; font-family: sans-serif; text-align: center;
         margin-top: 50px;">
            Welcome...To Seirra !</p>   
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <img src="assets/image/sierralogo.png" alt="Sierra Logo" style="width: 150px;height: 90; 
        margin-left: 480px; border-radius: 10px;">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 22px; font-family: sans-serif; text-align: center; font-weight: bold; 
        text-decoration: underline;">About Us</p>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 20px; font-family: sans-serif; text-align: center; font-weight: bold;">
        We advise global leaders on their most critical issues and opportunities</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 16px; font-family: sans-serif; text-align: center;">
            We are commited to providing complete client satisfaction and have
            thus earned an excellent reputation for our reliable performance and services. We have a broad experience
            accross the major technologies and platforms such as Microsoft's .NET framework , VMWare, Cloud , big data,
            embedded and mobile development.
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 20px; font-family: sans-serif; text-align: center; font-weight: bold; text-decoration: underline;">
            <img src="assets/image/contactus.png" alt="Sierra Logo" style="width: 60px; border-radius: 10px;">
            Contact Us:</p>
        
    </div>
</div>

