<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;">Choose Student to See Performance</h1>
        <hr>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr id="table-heading">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Performance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" id="tablerow">
                <td> {{ user.id }} </td>
                <td> {{ user.firstName }} </td>
                <td> {{ user.lastName }} </td>
                <td>Java</td>
                <td><button type="button" class="btn btn-success" (click)="onViewPerformanceClick(user)">View Performance</button></td>
            </tr>
        </tbody>
    </table>
</div>