<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="/training-module">
    <img src="assets/image/sierralogo.png" alt="Sierra Logo" style="width: 50px; border-radius: 10px;">Sierra Consulting</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/provide-feedback">Provide Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/view-performance">View Performance</a>
      </li>
    </ul>
  </div>
  <div>
      <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <span class="navbar-brand"></span>
          <a class="btn navbar-btn btn-danger navbar-right float-right" role="button" href="#">Logout</a>
  </div>
</nav>