* {
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

select, textarea {
  width: 98%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  position: relative;
  left: 60px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.botton {
  content: "";
  display: table;
  clear: both;
  margin-left: 480px;
  margin-top: 38px;
}

.footer{
content: "";
display: table;
clear: both;
position: relative;
left: 122px;
top: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: -9px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
  width:100%;
    margin-top: 0;
  }
}