
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row"><hr flex/><p class="text-center text-info">Candidate added successfully! </p><hr flex/></span>
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info"></p><hr flex/></span>


<div class="col-md-6" class="text-center text-info">
    <h2> User Details</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
      <tbody>
      <tr >
        <td ></td>
        <td>/td>
        <td></td>
        <td>/td>
        <td><button  class="btn btn-danger" > Delete User</button></td>
      </tr>
      </tbody>
    </table>
    </div>