body {
    background-color: lightblue;
    height: 100%;
}
html,
body,
#parent,
#grid {
  margin: 0;
  padding: 0;
  border-width: 0;
  height: 100%;
  /* DO NOT USE !important for setting the Grid height! */
}