<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;">Feedback Details</h1>
        <hr>
    </div>
</div>
<div>
  <div class="container">
      <div class="row">
          <div class="col-25">
              <label>ID: </label>
          </div>
          <div class="col-75">
              {{u.id}}
          </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label>First Name: </label>
          </div>
          <div class="col-75">
            {{u.firstName}}
          </div>
      </div>

      <div class="row">
          <div class="col-25">
            <label for="lname">Last Name: </label>
          </div>
          <div class="col-75">
            {{u.lastName}}
          </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lname">Course: </label>
        </div>
        <div class="col-75">
          Java
        </div>
    </div>

      <div class="row">
          <div class="col-25">
            <label>Week Selection: </label>
          </div>
          <div class="col-75">
            <p>Week 1</p>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Feedback: </label>
          </div>
          <div class="col-75">
            <p>Good</p>
          </div>
        </div>
        <br>  
  </div>
</div>
