
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row"><hr flex/><p class="text-center text-info">Rigelsky now specializes in matching professionals with the right temporary or full-time job opportunities with a variety of employers in all industries. </p><hr flex/></span>
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-danger">Login successful!</p><hr flex/></span>
<div class="container">
    