<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-center text-info">Welcome to Rigelsky</p><hr flex/></span>
<span layout="row" class="font-weight-bolder"><hr flex/><p class="text-left text-info"></p><hr flex/></span>
<div class="container">


      <h2>Add Candidate</h2>
      <a class="btn btn-lg btn-primary" href="" role="button">Add</a> <br>


</div><br><br>
<div class="container">


  <h2>View Candidate</h2>
  <a class="btn btn-lg btn-primary" href="" role="button">View</a>

</div>


