
<div class="container">
    <div class="col-sm"></div>
   
    
      <div class="col-sm">
       
      </div>
      
    
  </div>
  <div class="card bg-success  text-white" >
    <img src="./assets/trainpic.JPG"  class="card-img" alt="..." >
    <div class="card-img-overlay">
      <h5 class="card-title">Coding Bootcamp</h5>
      <p class="card-text">Training</p>
      <p class="card-text">Job Placement Services</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img src="https://rigelsky.com/images/trainingimg.png" class="rounded mx-auto d-block" alt="Responsive image"  height="200" width="800" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Training</h5>
      <p class="card-text">Our advanced coding course gained popularity among our students because of our easy to learn curriculum and project-based structure. Our Online Live course can be taken remotely anywhere in North America. Rigelsky believes quality education requires a personal touch. We are one of the very few programs that offer live instruction courses. This means that you and your classmates will have real time access to your instructor. Real time instruction makes our students feel as if they are in a physical classroom which enables them to grasp concepts
        at a much faster rate than with any other program out there.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Career Prep</li>
      <li class="list-group-item">Admissions</li>
      <li class="list-group-item">Our Alumni</li>
    </ul>
    
    <div class="card-body">
      <a href="/training" class="card-link">Training</a>
      <a href="#" class="card-link">Job Placement Services</a>
    </div>

  </div>
<div class="container">
    <div class="row">
        <div class="col-sm" >
           
           
          </div>
      <div class="col-sm">
        
      </div>
      
      
    </div>
  </div>
  <div class="col-sm">
   
  </div>

