
<div class="col-md-6" class="text-center text-primary" >
  <h2> User Details</h2>
  
  <table class="table table-striped">
    <thead >
      <tr   >
       
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>dateOfBirth</th>
      <th>phoneNumber</th>
      <th>qualification</th>
      <th> address</th>
      <th >Action</th>
    </tr>
  </thead>
  
    <tbody>
      
      
    <tr  >
     
      <th>{{id}}</th>
      <td >{{candidate.firstName}}</td>
      <td>{{candidate.lastName}}</td>
      <td>{{candidate.email}}</td>
      <td>{{candidate.dateOfBirth}}</td>
      <td>{{candidate.phoneNumber}}</td>
      <td>{{candidate.qualification}}</td>
      <td>{{candidate.address}}</td>
    
      <td><button  class="btn btn-info"  (click)="list()"> Back to list</button></td>
      
 
    
    </tr>
 
    </tbody>
 
  </table>
 
  </div>